@import "variables";

@include big-screen {
  .main-nav__link a {
    padding: 0;
    margin: 0 0 0 1rem;
    font-size: $font-size-medium;
  }

  .main-nav ul {
    display: block;
    float: right;
  }
}

.main-nav__link--active a {
  box-shadow: none;
}
