@import "variables";

body {
  font-family: "Public Sans", Sans-serif;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.5;
}

// Dark on light
body,
.off-canvas-wrapper,
.title-bar,
.navbar,
.topbar__dropmenu .is-dropdown-submenu {
  background-color: $background;
  color: $text-color;
}

.logo-wrapper span,
.topbar__dropmenu > ul > li > a,
.topbar__user__login a,
.topbar__admin__link a,
.main-nav__link a {
  color: $text-color;
  font-weight: bold;
  @include link-hover;
}

.topbar__dropmenu > ul > li > a::after {
  border-top-color: $text-color !important;
}

.topbar__dropmenu .is-dropdown-submenu {
  border-radius: $border-radius;
  box-shadow: none;
  border: none;
  background: $beige-darker;

  li {
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:not(:last-child) {
      border-bottom: none;
    }

    a {
      @include link;
    }
  }
}

.topbar__notifications,
.topbar__conversations {
  .icon {
    fill: $link-color;
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus {
    text-decoration: none;

    .icon {
      fill: $link-color-hover;
    }
  }
}

.topbar__search input {
  background: $beige-darker;

  .topbar__search:not(:focus-within) button {
    background: $text-color;
  }

  &::placeholder {
    color: $text-color;
  }
}

.logo-wrapper {
  margin-left: -1rem;

  img {
    max-height: 100px;
  }
}

// Light on dark
.tabs,
.main-footer,
.mini-footer {
  background-color: $text-color;
  color: $background;

  a {
    @include link;
  }

  .decidim-logo img {
    filter: brightness(0.5);
  }
}

.home-section:nth-of-type(2n + 1) {
  background: $text-color;
  color: $background;

  .button.hollow {
    @include button-hollow($background, $link-color-hover);
  }
}

a {
  @include link;
}

.off-canvas .close-button {
  color: $text-color;
}

hr,
.reveal__header {
  border-bottom-color: $text-color;
}

.reveal {
  background-color: $beige-darker;
  border-radius: $border-radius;
  border: none;

  .reveal__footer {
    border-top: none;
  }
}

.scope-picker.picker-header li:last-child a {
  color: $text-color;
}
.scope-picker.picker-content .picker-scrollable-content a {
  border: none;
}

.mini-title {
  color: $text-color;
  text-transform: none;
}

.section-heading {
  font-size: $font-size-medium;
  text-transform: none;

  &::before {
    content: "‣";
    margin-right: 1rem;
    border: none;
    background: none;
    color: currentColor;
  }
}

.main-container,
.tabs-content {
  background: $beige-darker;
  border: none;
}

.tabs,
.side-panel {
  border: none;
  background: $text-color;
}

.side-panel__tabs .tabs-title {
  border-bottom-color: $background;

  & > [role="tab"],
  & > a {
    color: $background;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      background: none;
      color: $link-color-hover;
    }
  }

  &.is-active > [role="tab"],
  &.is-active > a {
    color: $background;
  }
}

.tabs-content {
  &.vertical {
    border: none;
  }
}

.home-pam__title {
  color: $beige-darker;
}
