<div class="row column view-header">
  <h2 class="heading2"><%= translated_attribute current_component.settings.title %></h2>
</div>
<div class="row column">
  <div class="responsive-embed widescreen">
    <iframe sandbox="allow-same-origin allow-scripts allow-popups" src="<%= peertube_embed_url %>" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
